hr {
  background-color: #ccc;
  height: 1px;
}
.article-header {
  color: #29abe2;
  border-left: none;
  margin: 10px 0px 25px 0px;
  padding: 5px 0px 5px 0px;
}
article h3 {
  margin: 30px 0px 25px 0px;
}
article h4 {
  margin: 0px 0px;
}
.nobr {
  white-space: nowrap;
}
div.figure {
  border-width: thin;
  border-style: solid;
  border-color: #ccc;
  margin: 0px -3px 3px -3px;
  min-height: 10px;
  text-align: center;
}
*, ::after, ::before {
  border-style: none;
}
.caption {
  font-size: smaller;
  line-height: 0;
}
.footnotes {
  font-size: x-small;
}
footer {
  padding: 0px 0px;
}
sup {
  vertical-align: top;
  font-size: smaller;
  position: relative;
  top: -0.5em;
}
a:not([href]) {
  color: #bbc;
}
a:not([href]):hover {
  color: red;
  text-decoration: underline;
}
article blockquote {
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: #999;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-style: normal;
  font-size: 1.05em;
}
blockquote code {
  font-style: normal;
}
ul, ol {
  margin: 25px 0px 25px 30px;
}
ol ul, ol ol, ul ul, ul ol {
  margin: 0px 0px 0px 30px;
}
.figureContent {
  border-width: 0px 1px;
  border-style: solid;
  border-color: #ccc;
}
h4 {
  font-size: 14px;
}
h4 + p {
  margin: 2px 0px 25px 0px;
}
article h2 {
  margin: 30px 0px 20px 0px;
}
article h1 {
  margin: 40px 0px 35px 0px;
  background-color: #eee;
  outline-color: #eee;
  border-color: #eee;
  outline-style: solid;
  outline-width: 6px;
  border-style: solid;;
  border-width: 8px 0px;
}
.ellipsis {
  font-family: Helvetica, sans-serif;
}
div.article-header h1 a, div.article-header h1 a:visited {
  color: #29abe2;
}
pre.block {
  line-height: 1.5em;
  border-width: thin;
  border-style: solid;
  border-color: #ccc;
  margin: 0px -3px 0px -3px;
  padding: 0px 3px 3px 3px;
  border-radius: 2px;
}
